/*
	Colors
*/
$white:#ffffff;
$black:#000000;

$red:#af0b1c;
$green:#009900;
$blue:#0034aa;
$purple:#990099;
$yellow:#999900;
$cyan:#009999;
$orange:#cc6600;
$olive:#808000;
$pink:#ff0099;
$gold:#f2d31f;