/*
	stretch screen and center content
*/
html
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	
	body
	{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background:none;

		.hero
		{
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			z-index:-1;
			overflow: no-scroll;

			video
			{
				display:none;
			}

			canvas
			{
				z-index:1;
				@include transition(500);
			}
		}

		.content
		{
			@include display-box;	
			@include box-orient(vertical);

			height:100%;

			section
			{
				clear:both;
				height:100%;
				padding:1rem;
			}
		}
	}
}