/*
	stretch screen and center content
*/
html, body
{
	width:100%;
	height:100%;

	section
	{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-size:cover;

		.centered
		{
			position:absolute;
			top:45%;
			left:0;
			right:0;
			bottom:0;
			text-align:center;
			h1
			{
				width:100%;
			}
		}
		&.video
		{

		}

		.box {
			position:absolute;
			left:0;
			height:100%;
		}
	}

	video
	{
		background:$black;
	}
}