/*
	stretch screen and center content
*/
html
{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:none;

	h2
	{
		font-family:OpenSansRegular;		
	}	
	
	body
	{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background:none;
		.hero
		{
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			z-index:-1;
			overflow: no-scroll;

			video
			{
				display:none;
			}

			canvas
			{
				z-index:1;
				@include transition(all 500ms ease-in-out);
			}
		}

		.content
		{
			@include display-box;	
			@include box-orient(vertical);

			float:left;
			top:0;
			height:100%;
			width:100%;
			position: relative;
			background:rgba($white, 1);
			section
			{
				padding:1rem;
				height:100%;
				width:100%;
				background:rgba($white, 1);
			}
		}
	}
}