
<!doctype html>
<html class="no-js" lang="en" ng-app="SparkyJr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>Sparky Jr.</title>
        <link rel="stylesheet" href="stylesheets/app.css" />    
    </head>
    <body>
        <div class="fixed" ng-controller="serialController">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">SparkyJr.</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right columns">
                        <li class="has-dropdown">
                            <a href="#">Serial Ports</a>
                            <ul class="dropdown">
                                <li ng-repeat="port in ports"><a ng-click="$parent.port = port.id">{{port.short}}</a></li>
                            </ul>
                        </li>                        
                        <li class="has-dropdown">
                            <a href="#">Bitrate</a>
                            <ul class="dropdown">
                                <li ng-repeat="bitrate in bitrates"><a ng-click="$parent.bitrate = bitrate">{{bitrate}}</a></li>
                            </ul>
                        </li>
                        <li><a class="button radius" ng-class="{alert:port == -1, success:port > -1}">connect</a></li>
                    </ul>
                </section>
            </nav>  

            {{port}}{{bitrate}}
        </div>       

        <!-- google angularjs -->
        <script src="js/angular/angular.min.js"></script>


        <!-- anggular app -->
        <script src="js/angular/app.js"></script>
        <script src="js/angular/filters.js"></script>    
        <script src="js/angular/serialController.js"></script>
    </body>
</html>
